<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off">
  <include file="nlog.common.config" ignoreErrors="false" />
  <targets>
    <target xsi:type="Console" name="console" layout="${minimalwithtime}" />
    <target xsi:type="File" name="file" fileName="logs/${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log" layout="${default}" />
    <target xsi:type="DiscordChannel" name="discord" layout="${discordmessage}" />
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" writeTo="" final="true" />
    <logger name="Hainz.Services.Logging.DiscordChannelLoggerService" minlevel="Info" writeTo="console, file" final="true" />
    <logger name="*" minlevel="Info" writeTo="console, file, discord" />
  </rules>
</nlog>