<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="default" value="${longdate} [${loglevel:uppercase=true}] |Thread: ${threadid}| ${logger} - ${message:withexception=true}" />
  <variable name="short" value="[${loglevel:uppercase=true}] ${logger} - ${message:withexception=true}" />
  <variable name="minimal" value="[${loglevel:uppercase=true}] ${message:withexception=true}" />
  <variable name="discordmessage" value="(${date:format=yyyy-MM-dd HH\:mm\:ss.fff}); [${loglevel:uppercase=true}] #${logger}: ${message:withexception=true}" />
  <extensions>
    <add assembly="Hainz.Infrastructure"/>
  </extensions>
</nlog>
