<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">
  <variable name="default" value="${longdate} [${loglevel:uppercase=true}] |Thread: ${threadid}| ${logger} - ${message:withexception=true}" />
  <variable name="short" value="[${loglevel:uppercase=true}] ${logger} - ${message:withexception=true}" />
  <variable name="minimal" value="[${loglevel:uppercase=true}] ${message:withexception=true}" />
  <targets>
    <target xsi:type="Console" name="console" layout="${default}" />
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" writeTo="" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>